ul {
    list-style: none;
    font-size: 33pt;
    margin-left: 2%;
}

ul li {
    float: left;
    padding: 10px;
}

.small {
    line-height: 180%;
}

/* 1. */
.three ul li:nth-child(3n+1) {
    clear: both;
    list-style-type: disc;
    min-width: 17em;
}

/* 2. */
.three ul li:nth-child(3n+2) {
    min-width: 2em;
    text-align: right;
}

/* 3. */
.three ul li:nth-child(3n) {
    min-width: 3.5em;
    text-align: right;
}

/* 1. */
.two ul li:nth-child(2n+1) {
    clear: both;
    list-style-type: disc;
    min-width: 21em;
}

/* 2. */
.two ul li:nth-child(2n) {
    min-width: 4em;
    text-align: right;
}

/* 1. */
.four ul li:nth-child(4n+1) {
    clear: both;
}

/* 1. und 3. */

.four ul li:nth-child(2n+1) {
    list-style-type: disc;
    min-width: 10em;
}

/* 2. und 4. */
.four ul li:nth-child(2n+2) {
    min-width: 3.5em;
    text-align: right;
    margin-right: 1.5em;
}
/* 1. */
.five ul li:nth-child(4n+1) {
    clear: both;
}

/* 1. und 3. */

.five ul li:nth-child(2n+1) {
    list-style-type: disc;
    min-width: 10em;
}

/* 2. und 4. */
.five ul li:nth-child(2n+2) {
    min-width: 3.5em;
    text-align: right;
    margin-right: 1.5em;
}


.huge ul li:nth-child(3n+2) {
    min-width: 8em;
}

h1 {
    font-size: 36pt;
    text-align: center;
    text-transform: uppercase;
}

body {
    font-family: sans-serif;
    /*color: #ffff00;*/
    color: #ffffff;
    background: #000060 url('mi2_white.svg') no-repeat fixed right 2em center;
    background-size: 30% auto;
}

.hide {
    display: none;
}